<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login Session Auth App</title>
  </head>
  <body>
    <%- include("partials/nav.ejs"); %>
    <h1>User Login Session Auth App</h1>
    <% if (user) { %>
    <p>Welcome to the app, <%= user.username %>!</p>
    <% } else { %>
    <p>Welcome to the app, guest.</p>
    <% } %>
  </body>
</html>
